<div class="block post-join">
    <p class="post-join-icon">😎</p>

    {% if not me %}
    <p class="post-join-message">
        Посты можно читать всем, но комментирование и всё остальное доступно только участникам Клуба.
    </p>
    {% else %}
    <p class="post-join-message">
        Ваш профиль ещё не прошел модерацию, поэтому комментирование пока недоступно.
    </p>
    {% endif %}

    <p>
        <a href="{% url "docs" "about" %}" target="_blank">Что вообще здесь происходит?</a>
    </p>

    {% if not me %}
    <p>
        <br><a href="{% url "login" %}?goto={{ settings.APP_HOST }}{{ request.path }}" class="button">Войти</a>
    </p>
    {% endif %}
</div>
