{% extends "layout.html" %}

{% block title %}
    {% if mode == "edit" %}
        Редактируем пост — {{ block.super }}
    {% else %}
        Новый пост — {{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="content compose">
        {% if mode == "create" %}
            <div class="content-header">Новый пост</div>
        {% elif mode == "edit" %}
            <div class="content-header">Редактируем пост</div>
        {% else %}
            <div class="content-header">Пост</div>
        {% endif %}

        {% if mode == "create" %}
            <div class="content-description content-description-left">
                <p>
                    Поделитесь своими мыслями или опытом.
                    Постарайтесь, чтобы ваш пост был информативным и полезным для читателя.
                    Не забывайте добавлять релевантные ссылки на источники и дополнительные материалы.
                </p>

            <p>
                📚 <strong>Пишите искренне, не душните, не заумствуйте.</strong> Мы в Клубе ценим юмор, открытость и пользу.
            </p>

                <ol>
                    <li>Пишите короткими предложениями.</li>
                    <li>Делите текст на абзацы (это два нажатия Enter, а не один).</li>
                    <li>Используйте списки, картинки и не игнорируйте пунктуацию.</li>
                    <li>Пишите искренне и думайте о пользе для читателя.</li>
                </ol>
            </div>
        {% endif %}

        <div class="block compose-text">
            <form action="." method="post" class="compose-form" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row form-row-center">
                    {{ form.topic }}
                    {% if form.topic.errors %}<span class="form-row-errors">{{ form.topic.errors }}</span>{% endif %}
                </div>

                <div class="form-row compose-form-title">
                    {{ form.title }}
                    {% if form.title.errors %}<span class="form-row-errors">{{ form.title.errors }}</span>{% endif %}
                </div>

                <div class="form-row compose-form-text">
                    <label for="{{ form.text.id_for_label }}" class="form-label">{{ form.text.label }}</label>
                    {{ form.text }}
                    {% if form.title.errors %}<span class="compose-form-errors">{{ form.title.errors }}</span>{% endif %}
                    <span class="form-row-help form-row-help-wide">
                        Можно использовать <a href="https://www.markdownguide.org/basic-syntax/" target="_blank" rel="nofollow noreferrer help">Markdown</a> и <a href="https://getemoji.com/" target="_blank" rel="nofollow noreferrer help">Emoji</a>.
                        Для загрузки картинок просто перетащите их в редактор.
                    </span>
                </div>

                {% include "posts/compose/elements/post_settings.html" with form=form %}

                {% if form.non_field_errors %}
                    <div class="form-row form-row-center">
                        {% for error in form.non_field_errors %}
                            <span class="form-row-errors">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

                {% include "posts/compose/elements/save_buttons.html" %}
            </form>
        </div>
    </div>
{% endblock %}
