{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
<style>
    h1, h2, h3, header {
        text-align: left;
    }

    .button {
        display: inline-block;
        padding: 17px 30px;
        box-sizing: border-box;
        text-decoration: none;
        border-radius: 20px;
        background-color: #000;
        border: solid 2px #000;
        color: #FFF;
        text-align: center;
        cursor: pointer;
        line-height: 1em;
        font-size: 25px;
        margin: 20px 0 30px;
    }

        .button:hover {
            color: #000 !important;
            background-color: #FFF !important;
            border-color: #000 !important;
        }

p {
    font-size: 19px;
}

ul {
    list-style: none;
    font-size: 19px;
    margin-left: 0;
    padding-left: 0;
}

    li {
        display: block;
        margin-top: 20px;
        padding-left: 15px;
    }

</style>
{% endblock %}

{% block title %}
    Велком дринк 🍸
{% endblock %}

{% block body %}
    <p>
        Добро пожаловать в <a href="{{ settings.APP_HOST }}">Клуб</a>! Ваш профиль успешно прошел модерацию — теперь вы можете не только читать материалы, но и создавать новые посты, писать комментарии к существующим и вообще всячески помогать нам сделать Клуб полезным и интересным.
    </p>

    <p>
        Ваш юзернейм в Клубе: <b>@{{ user.slug }}</b><br>
        Почта для входа: <b>{{ user.email }}</b>
    </p>

    <p style="font-size: 14px;">
        👆 попробуйте <a href="{{ settings.APP_HOST }}{% url "login" %}">войти в свой профиль</a>, там можно отметить разные интересные штуки типа увлечений.
    </p>

    <br><br>

    {% if not user.is_email_verified %}
        <p>
            Так как паролей у нас нет и вход по кодам из почты, давайте для начала убедимся, что этот ящик действительно ваш.
        </p>

        <p>
            <a href="{% url "email_confirm" user.id %}" class="button">Подтвердить адрес почты</a>
        </p>
    {% endif %}

    <p>
        Коротко расскажем, как устроен наш Клуб.
    </p>

    <ul>
        <li>🎩 Клуб — это прежде всего <a href="{% url "people" %}">сообщество интересных людей</a>. Большая часть пользы Клуба именно в общении, новых знакомствах, нетворкинге и возможности обсудить свои мысли с другими разумными индивидами, у которых есть свое собственное (отличное от вашего) мнение. Смело вливайтесь и не сидите долго ридонли.</li>
        <li>🤔 Внимательно прочитайте <a href="{% url "docs" "about" %}">правила Клуба</a>. Они основаны на том, что мы здесь взрослые занятые люди, собравшиеся для взаимной выгоды и уважительного общения. Если вы пришли в Клуб соревноваться в сарказме и оскорблениях — то вы очень быстро получите бан, и мы больше не сможем извлекать пользу из ваших ценных мыслей (что крайне опечалит всех участников процесса).</li>
        <li>😎 Комментарии — это круто! Многие давно перестали комментировать что-то в интернете, но у нас все ровно наоборот: оставлять вдумчивые аргументированные комментарии к чужим постам в Клубе даже почетнее, чем создавать новые посты.</li>
        <li>🤝 У нас есть <a href="{% url "people" %}">поиск по людям</a>, где можно найти себе друга для прогулок по Лимассолу, ментора для запуска первого бизнеса или новую работу. Сообщество — тоже инструмент, которым надо учиться пользоваться.</li>
        <li>🤖 Не забудьте познакомиться с нашим <a href="{% url "edit_bot" "me" %}">Телеграм-ботом</a>. Через него удобно получать персонализированные уведомления о том, что происходит с вашими постами и комментариями.</li>
        <li>🔨 В Клубе есть модераторы, которые следят за качеством контента и дискуссий. Они набраны из таких же обычных членов Клуба и иногда могут ошибаться. Мы всегда за аргументированный <a href="{% url "docs" "contact" %}">диалог</a>.</li>
        <li>🖖 Да пребудет с вами разум!</li>
    </ul>

    <br><br><br>
{% endblock %}

{% block unsubscribe %}{% endblock %}
