{% extends "emails/rejected/layout.html" %}
{% load static %}
{% load text_filters %}

{% block body %}
    <p>
        👋 Привет, это модератор Клуба.
    </p>

    <p>
        Мы посмотрели ваш профиль и он действительно неплох!
    </p>

    <p>
        У вас явно есть потенциал, но сейчас интро выглядит слишком общим. Мы тоже любим путешествовать, играть в игры и всякое такое, потому хотим услышать именно вашу историю!
    </p>

    <p>
        Вот пара советов о чем еще можно рассказать, чтобы избежать общих слов:
    </p>

    <ul>
        <li>🏄‍♀️ Допишите еще пару абзацев о своих увлечениях, хобби или интересном опыте.</li>
        <li>🔥 Расскажите забавные истории из своей жизни. Может быть вы переезжали или участовали в каких-то крутых ивентах?</li>
        <li>⛵️ Поделитесь своими мечтами и планами. Если бы у вас были бесконечные деньги — что бы вы сделали первым делом?</li>
        <li>🤖 Похвастайтесь проектом, над которым вы работали. Или, может быть, у вас есть классные идеи для будущих проектов?</li>
    </ul>

    <p>
        Держите ссылку, чтобы исправить интро и пройти ревью еще раз 👇
    </p>

    <p>
        <a href="{{ settings.APP_HOST }}{% url "intro" %}" class="button">Податься на ревью еще раз</a>
    </p>

    <br><br><br>
{% endblock %}
