{% extends "layout.html" %}

{% block content %}
    <div class="login">
        <div class="login-services">
            <div class="block login-service">
                <div class="login-service-title">Вход по почте</div>
                <div class="login-service-form">
                    <form action="{% url "email_login" %}" method="post">
                        <input type="email" name="email" value="{{ email|default:"" }}" placeholder="your@gmail.com" class="login-email" required>
                        {% if goto %}<input type="hidden" name="goto" value="{{ goto }}">{% endif %}
                        <button type="submit" class="button login-button" style="min-width: 200px;">🤙 Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
